.content-container{
    background: #74686826;
    float: right;
    width: 75%;
    height: 100vh;
    padding: 32px;

}
.introduction {
    text-align: center;
    color: #636060;
}
.sub-header{
    font-size: 1.3rem;
    font-weight: lighter;
    color: #505050;
}