.content-container {
  background: #74686826;
  float: right;
  width: 78%;
  /* padding: 32px; */
}
.introduction {
  text-align: center;
  color: #636060;
}
.sub-header {
  font-size: 1.3rem;
  font-weight: lighter;
  color: #505050;
}
.abcIntro,
.self-intro,
.tech-stack,
.exp-timeline,
.certifications {
  padding: 30px;
}

@media only screen and (max-width: 600px) {
  .content-container {
    width: 100%;
    padding: 2px;
  }
}
