.tech-stack ul {
  list-style: none;
}

/* ul {
  display: inline-flex;
  flex-flow: column nowrap;
} */

.tech-stack ul li {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
}
.list-label {
  text-align: left;
  padding-right: 35px;
  width: 20%;
}
.circles-container {
  display: list-item;
}

.skill-circle {
  width: 25px;
  height: 25px;
  display: inline-flex;
  margin: 0 10px;
  border-radius: 50%;
  background: #988f8f;
}
.active {
  background: green;
}

@media only screen and (max-width: 600px) {
  .list-label {
    width: inherit;
    padding: 5px;
  }
  ul {
    padding: 0;
  }
  .skill-circle {
    width: 20px;
    height: 20px;
    margin: 0 6px;
  }
}
